.alt {
    height: 200px !important;
    width: 120px !important;
}

.anc {
    width: 150px !important;
}

.siz {
    height: 80px !important;
    width: auto !important;
}
 p {
     font-size: 9px;
 }