<p>
  compartidos-me works!
  {{ idUser }}
</p>

<ion-content>

  <ion-grid fixed>

    <ion-row *ngFor="let libro of libros; let i=index">
      <ion-col size="6">
       
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{  libro.titulo }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <img [src]="'data:image/JPEG;base64,'+libro.portada"/>
          </ion-card-content>
        </ion-card>

      </ion-col>
      <ion-col size="6">
        Compartido por: 
       {{  usuarios[i] }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button (click)="cerrar()" color="primary">
          cerrar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
