<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.8" pullMin="60" pullMax="120">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid fixed>
    <ion-row *ngFor="let libro of libros; let i=index">
      <ion-col size="6" (click)="verDetalle(libro.id)">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{  libro.titulo }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <img [src]="'data:image/JPEG;base64,'+libro.portada" />
          </ion-card-content>
        </ion-card>

      </ion-col>
      <ion-col size="6">
        Compartido por:
        {{  usuarios[i] }}
      </ion-col>
    </ion-row>
  </ion-grid>
  <div clas="empty" *ngIf="libros.length == 0">
    <h4>Aun no te han compratido libros</h4>
  </div>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="cerrar()" color="danger">
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>