<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="carrito()">
        <ion-icon slot="start" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides mode="ios" scrollbar="ios" [options]="slideOpt">
    <ion-slide *ngFor="let libro of libros | pares">
      <ion-row>
        <ion-col *ngFor="let lib of libro">
          <ion-card (click)="verDetalle(lib.id)">
              <ion-card-header>
                <img [src]="poster"/>
                <ion-card-title>{{ lib.titulo }}</ion-card-title>
                <ion-card-content>
                  <p class="ion-text-xl-justify">
                   Autores
                  </p>
                </ion-card-content>
              </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-slide>
  </ion-slides>

</ion-content>
<app-footer></app-footer>
