<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.8" pullMin="60" pullMax="120">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <ion-list>
    <ion-list>
      <ion-radio-group name="auto">
        <ion-list-header>Selecciona tu direccion</ion-list-header>
        <ion-item *ngFor="let tar of tarjetas" (click)="seleccionar(tar.id)">
          <ion-label>Tarjeta {{tar.numero}}</ion-label>
          <ion-label>{{ tar.vencimiento }}</ion-label>
          <ion-radio></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ion-list>

  <ion-grid>
    <h4>Agregar una tarjeta</h4>
    <ion-row>
      <ion-col size="8">
        <ion-input type="number" placeholder="Numero de la tarjeta" name="numero" [(ngModel)]="tarjeta.numero">
        </ion-input>
        <ion-input type="text" placeholder="Vencimiento" name="caducidad" [(ngModel)]="tarjeta.vencimiento"></ion-input>
        <ion-input type="number" placeholder="codigo" name="code" [(ngModel)]="tarjeta.code"></ion-input>
      </ion-col>
      <ion-col size="4">
        <ion-button (click)="agregarTarjeta()">
          Agregar
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-button (click)="pagar()">
          Realizar Pago
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="cerrar()" color="danger">
          Cancelar
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>



</ion-content>