<p>
  
  <ion-list>
    <ion-list>
      <ion-radio-group name="auto">
        <ion-list-header>Selecciona tu direccion</ion-list-header>
        <ion-item *ngFor="let dir of direcciones">
          <ion-label>{{dir.ciudad}} {{ dir.calles }}</ion-label>
          <ion-radio value="tesla"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ion-list>


  <ion-button (click)="tarjetas()">
    Click me
  </ion-button>
  <ion-button (click)="cancelar()">
    Cancelar
  </ion-button>
</p>
